{% extends "base.html" %}


{% block content %}
    <div class="row d-flex">
        <div class="product-flex card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, blanditiis!</div>
        <div class="product-flex card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, blanditiis!</div>
        <div class="product-flex card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, blanditiis!</div>
        <div class="product-flex card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, blanditiis!</div>
        <div class="product-flex card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, blanditiis!</div>
        <div class="product-flex card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, blanditiis!</div>
        <div class="product-flex card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, blanditiis!</div>
        
        
    </div>
{% endblock content %}
    